.modal-container {
    width: 40%;
    background-color: white;
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.modal-container header {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #dddbda;
}
.modal-content {
    padding: 1rem;
}
.modal-footer {
    border-top: 2px solid #dddbda;
    padding: 1rem;
    text-align: right;
}
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-color: rgba(8, 7, 7, 0.3);
}